* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background-size: cover;
  background: linear-gradient(to bottom right, #f3f4f6, #e5f7eb);
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 43vw;
  text-align: center;
}

.logo {
  width: 12%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  width: 100%;
  font-size: 36px;
  margin-bottom: 25px;
}

p {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 20px;
  box-shadow: 0px 10px 500px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 14px;
}

input {
  width: 100%;
  font-size: 16px;
  text-align: center;
  border: 1px solid white;
  padding: 16px;
  border-radius: 7px;
}

button {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: #1565c0;
  border-radius: 7px;
  background-color: rgba(31, 77, 214, 0.861);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.confidential {
  font-size: 14px;
  margin-bottom: 0;
}

/* RESPONSIVE FOR MOBILE */
@media (max-width: 767px) {
  body {
    padding: 16px;
  }

  .card {
    width: 100vw;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    font-size: 0.9rem;
    text-align: center;
  }

  input,
  button {
    font-size: 12px;
    padding: 12px;
  }

  .confidential {
    font-size: 10px;
  }
}

/* RESPONSIVE FOR TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 16px;
  }

  .card {
    width: 75vw;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
  }

  .logo {
    width: 16%;
  }

  input,
  button {
    font-size: 20px;
  }

  .confidential {
    font-size: 16px;
  }
}